*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    box-shadow: none;
    color: inherit;
}

ul{
    list-style:none
}

/* //////////////////// HEADER ///////////////*/

.navbar{
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(118,104,198);
    background: linear-gradient(90deg, rgba(118,104,198,1) 0%, rgba(113,182,218,1) 47%, rgba(12,127,182,1) 100%);
    color: #FFFFFF;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 10px;
    color: #FFFFFF;
    font-weight: 700;
}

.navbar button{
    height: 40px;
    width: 140px;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: #FF33E6;
    border: 1px;
    border-radius: 20px;
}

.navbar button:hover{
    cursor: pointer;
}

/* ////////////////// MAIN////////////////// */

main{
    text-align: center;
    margin: 50px 10px 40px;
}

main section{
    height: 400px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #bdbdbe;
}
.container-main{
    color: #747375 ;
    font-size: 20px;
    border-bottom: 1px solid #bdbdbe; 

}

span{
    color: #2C2D2D ;
}

img{
    height: 120px;
    width: 120px;
    border-radius: 60%;
    margin-bottom: 20px;
}

.container-main button{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    color: #4ACBEE;
    font-size: 17px;
    background-color: #FFFFFF;
    border: 1px solid #4ACBEE;
    border-radius: 20px;
}

/* //////// WORK EXPERIENCE///// */

h2{
    color: #2C2D2D;
}

.box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #747375;
    
}

.box-container h3{
    color: #2C2D2D;
    line-height: 30px;
}

.box-company-blue {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bolder;
    height: 20px;
    width: 180px;
    background-color:#4ACBEE;
    border-radius: 10px;
}

.box-date {
    width: 250px;
}

.box-text {
    text-align: left;
    margin-top: 10px;
}
/* /////// EDUCATION //////// */

.container-education{
    height: 600px;
    width: 600px;
}
/* ////// SKILLS Y CONTACT //////////// */

.container-skills{
    display: flex;
    height: 200px;
    justify-content: space-around;
    margin-top: 100px;
}


